header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: navy;
    color: white;
    margin-bottom: 50px;
  }
  
  section {
    display: none;
  }
  
  body.start #start { display: block; }
  body.game #game { display: block; }
  body.score #score,
  body.score #start { display: block; }
  